---
layout: application
title: Home
controller: home
---

{% raw %}
<section class="bb b--near-white ptm pbl">
  <div class="mw8" style="margin-right: auto; margin-left: auto; " >
    <div class="phm">
    <div class="mb1" soundcloud-player src="https://soundcloud.com/zachhurdmusic/brooklyn-raining">
      <h3 ng-click="play()"><a href class="dark-gray">{{ response.title }}</a></h3>
    </div>
    <div class="mb1" soundcloud-player src="https://soundcloud.com/zachhurdmusic/05-upsidedown">
      <h3 ng-click="play()"><a href class="dark-gray">{{ response.title }}</a></h3>
    </div>
  </div>
  </div>
</section>
<section class="bb b--near-white">
<div class="mw8 mtx" style="margin-right: auto; margin-left: auto; ">
  <div class="phm pbx">
    <h1 class="sans-serif f4 fw4 ttu">Buy</h1>
    <article class="dib">
      <a class="f2 b db prm" href="http://www.amazon.com/s/ref=ntt_srch_drd_B000ZNPMAA?ie=UTF8&field-keywords=Zach%20Hurd&index=digital-music&search-type=ss">
        Amazon
      </a>
    </article>
    <article class="dib">
      <a class="f2 b db prm" href="https://itunes.apple.com/us/artist/zach-hurd/id292321269?ign-mpt=uo%3D4">
         iTunes
      </a>
    </article>
    <article class="dib">
      <a class="f2 b db prm" href="http://www.cdbaby.com/artist/ZachHurd">
        CDBaby
      </a>
    </article>
  </div>
</div>
</section>

<section class="mw8 mtx pbx" style="margin-right: auto; margin-left: auto; ">
  <div class="phm">

  <h1 class="sans-serif f4 fw4 ttu">About</h1>
  <img src="img/about.jpg">
  <p class="f3 f2-ns serif tl lh-copy mtl">
    Zach Hurd is originally from Maine. After graduating from college, he toured in
    the duo Causeway, performing at colleges, clubs and festivals across the
    country. More recently, he has established himself as a solo artist in the New
    York City music scene, appearing in clubs like The Living Room, The Bitter End,
    Rockwood Music Hall, and Canal Room.
  </p>
</div>
</section>
<section class="ptl bt b--near-white">
  <div class="mw8" style="margin-right: auto; margin-left: auto;" >
    <div class="phm">
  <h1 class="sans-serif f4 fw4 ttu">News</h1>
  <article class="mw7 mbl">
    <h1 class="sans-serif f6 fw9 ttu">05.05.14</h1>
    <p class="f3 serif">I recently had the pleasure of doing a Q&A with Derek O'Neal from FourCulture Magazine. We talked about the new album, musical influences and bunch of other stuff. Check it out here: ZH - FourCulture Magazine Feature</p>
</article>

<article class="mw7 mbl">
    <h1 class="sans-serif f6 fw9 ttu">10.23.13</h1>
  <p class="f3 serif">Thank you all so much for the amazing support over the last few weeks. I've basically been living on Cloud 9 for the past couple of days. THANK YOU! I can't wait to get back into the studio. The fact that we went over the goal is going to make this album that much better. You never know what kind of road blocks you can hit when making, or promoting, an album, so having some financial breathing room is a huge help. I'll definitely be keeping you updated on the progress of the project. Thank you so much for being a part of it. I can't wait to share it with you. Talk to you soon!</p>

</article>
<article class="mw7">
  <h1 class="sans-serif f6 fw9 ttu">09.20.13</h1>
  <p class="f3 serif">I've been working on my 4th album over the past few months and now it's ready for the studio. I'm really excited about this one. For those of you who don't know, and I'm sure most of you do, making an album can be a big challenge financially. So for this album I'm asking for your help. When you have a minute, stop by my Kickstarter page where you can check out a short video about the project (it even gives a very quick tour through the studio). There are also a bunch of incentives to go along with each donation. *Thank you, in advance, for supporting this album! Here's the link: Zach Hurd - 4th Studio Album</p>
</article>
  </div>
</div>
</section>
<footer class="pvx pvxxl-ns bt b--near-white mtxl" style="background:url(img/footer.jpg) no-repeat; background-size: cover; ">
  <div class="mw8" style="margin-right: auto; margin-left: auto;">
  <div class="phm">
    <a href="mailto:zachhurdmusic@gmail.com" class="black">zachhurdmusic@gmail.com</a>
  <ul class="list pln mtl">
      <li class="dib"><a class="b f4 f3-ns black db prxs prs-ns" href="  http://twitter.com/zachhurdmusic">@zachhurdmusic</a></li>
      <li class="dib"><a class="b f4 f3-ns black db paxs prs-ns" href="  https://itunes.apple.com/us/artist/zach-hurd/id292321269?ign-mpt=uo%3D4">iTunes</a></li>
      <li class="dib"><a class="b f4 f3-ns black db paxs prs-ns" href="  https://www.facebook.com/zachhurdmusic">Facebook</a></li>
      <li class="dib"><a class="b f4 f3-ns black db paxs prs-ns" href="  http://soundcloud.com/zachhurdmusic">Soundcloud</a></li>
      <li class="dib"><a class="b f4 f3-ns black db paxs prs-ns" href="http://www.rdio.com/artist/Zach_Hurd/">rdio</a></li>
  </ul>
  </div>
  </div>
</footer>
{% endraw %}

