<footer class="pvx pvxl-ns bt b--near-white mtxl"
  style="background:url({{site.url}}/img/footer.jpg) no-repeat; background-size: cover; ">
  <div class="mw8" style="margin-right: auto; margin-left: auto;">
    <div class="phm">
      <a href="mailto:zachhurdmusic@gmail.com" class="black">zachhurdmusic@gmail.com</a>
      <ul class="list mtl">
        <li class="dib"><a class="b f4 f3-ns black db prxs prs-ns" href="http://twitter.com/zachhurdmusic">@zachhurdmusic</a></li>
        <li class="dib"><a class="b f4 f3-ns black db paxs prs-ns" href="https://itunes.apple.com/us/artist/zach-hurd/id292321269?ign-mpt=uo%3D4">iTunes</a></li>
        <li class="dib"><a class="b f4 f3-ns black db paxs prs-ns" href="https://www.facebook.com/zachhurdmusic">facebook</a></li>
        <li class="dib"><a class="b f4 f3-ns black db paxs prs-ns" href="http://soundcloud.com/zachhurdmusic">soundcloud</a></li>
        <li class="dib"><a class="b f4 f3-ns black db paxs prs-ns" href="https://play.spotify.com/artist/1f2CFEq5J7ZyeTAVU6ubRX?play=true&utm_source=open.spotify.com&utm_medium=open">spotify</a></li>
        <li class="dib"><a class="b f4 f3-ns black db paxs prs-ns" href="http://www.rdio.com/artist/Zach_Hurd/">rdio</a></li>
        <li class="dib"><a class="b f5 f3-ns black db paxs prs-ns" href="http://www.instagram.com/zachhurd">instagram</a></li>
      </ul>
      <p class="f5 mtxl">
        Built with ♥ by
        <a href="http://mrmrs.cc" title="Adam Morse - Designer" class="black">
          mrmrs
        </a>
        using
        <a href="http://jxnblk.github.io/plangular" class="black">Plangular</a> and
        <a href="http://tachyons.io" class="black">Tachyons</a></p>
        <small class="db lh-copy"> Photography by Doug Seymour </small>
    </div>
  </div>
</footer>
