<header class="tc tl-ns phm pts pbx phx-ns pt-ns pbl-ns bg-white bb b--light-gray">
  <div class="mw8 cf t-center">
      <h1 class="fl wi-100 mbn f1 fw9 ttu black mbl mtl">Zach Hurd</h1>
    <div class="fl wi-100 wi-50-ns">
      <div class="mw6">
        <img src="{{site.url}}/img/header.jpg">
      </div>
    </div>
    <div class="fl tc wi-100 wi-50-ns">
    <p class="db black mbs mtl mtn-ns f5 ttu">Buy the new album</p>
    <a class="f5 b dib prm link white dim mw5 dim" href="https://itunes.apple.com/us/album/a-million-little-lights/id917398274" title="A Million Little Lights on iTunes">
      <img src="img/amll_cover-2.jpg" class="db">
    </a>
    <p>
      <a class="f5 b dib prm link white dim" href="https://itunes.apple.com/us/album/a-million-little-lights/id917398274" title="A Million Little Lights on iTunes">
        iTunes
      </a>
      <a class="f5 b dib prm gray-link" href="http://www.amazon.com/Million-Little-Lights-Zach-Hurd/dp/B00NGCJ0NC" title="A Million Little Lights on Amazon">
        Amazon
      </a>
    </p>
  </div>
  </div>
</header>

<!--
<a href="https://itunes.apple.com/us/album/a-million-little-lights/id917398274" class="btn pvl phx-ns border white b--white fw9 mts mtm-ns cta" style="border-width: 0px;">
  <b class="">A Million Little Lights</b> ▸
</a>
    <ul class="list br2 mtl white">
      <li class=""><a class=" white f5 f4-ns  db prxs pvxs prs-ns" href="http://twitter.com/zachhurd">@zachhurd</a></li>

      <li class=""><a class=" white f5 f4-ns  db paxs prs-ns" href="http://soundcloud.com/zachhurdmusic">soundcloud</a></li>
      <li class=""><a class=" white f5 f4-ns  db paxs prs-ns" href="https://itunes.apple.com/us/artist/zach-hurd/id292321269?ign-mpt=uo%3D4">iTunes</a></li>
      <li class=""><a class=" white f5 f4-ns  db paxs prs-ns" href="https://play.spotify.com/artist/1f2CFEq5J7ZyeTAVU6ubRX?play=true&utm_source=open.spotify.com&utm_medium=open">spotify</a></li>
      <li class=""><a class=" white f5 f4-ns  db paxs prs-ns" href="https://www.facebook.com/zachhurdmusic">facebook</a></li>
      <li class=""><a class=" white f5 f4-ns  db paxs prs-ns" href="http://www.rdio.com/artist/Zach_Hurd/">rdio</a></li>
      <li class=""><a class=" white f5 f4-ns  db paxs prs-ns" href="http://www.instagram.com/zachhurd">instagram</a></li>
    </ul>
-->
