<section class="ptl bt b--near-white">
  <div class="mw8" style="margin-right: auto; margin-left: auto;" >
    <div class="phm">
      <h1 class="sans-serif f4 fw4 ttu">News</h1>
      <article class="mw7 mbl"> <h1 class="sans-serif f4 fw9">09.20.14</h1>
        <p class="f4 f3-ns sans-serif lh-copy">
          Welcome to the new website! More updates coming soon.
          Until then, check out tracks on the music player, which will
          periodically be updated with new songs and covers. Check back when you
          can!

          The new album, <a href="https://itunes.apple.com/us/album/a-million-little-lights/id917398274" title="pre-order on itunes">A Million Little Lights</a>, is <a href="https://itunes.apple.com/us/album/a-million-little-lights/id917398274">now available for pre order on iTunes</a> for only $6.99. You'll instantly receive the track "Wasteland City" with your purchase. *Release date is October 10th.
        </p>
      </article>
      <article class="mw7 mbl"> <h1 class="sans-serif f4 fw9">05.05.14</h1>
        <p class="f4 f3-ns sans-serif lh-copy">I recently had the pleasure of
          doing a Q&amp;A with Derek O'Neal from FourCulture Magazine. We
          talked about the new album, musical influences and bunch of other
          stuff. Check it out here: ZH - FourCulture Magazine Feature</p>
      </article>

      <article class="mw7 mbl">
        <h1 class="sans-serif f4 fw9">10.23.13</h1>
        <p class="f4 f3-ns sans-serif lh-copy">Thank you all so much for the amazing support over the last few weeks. I've basically been living on Cloud 9 for the past couple of days. THANK YOU! I can't wait to get back into the studio. The fact that we went over the goal is going to make this album that much better. You never know what kind of road blocks you can hit when making, or promoting, an album, so having some financial breathing room is a huge help. I'll definitely be keeping you updated on the progress of the project. Thank you so much for being a part of it. I can't wait to share it with you. Talk to you soon!</p>

      </article>
      <article class="mw7">
        <h1 class="sans-serif f4 fw9">09.20.13</h1>
        <p class="f4 f3-ns sans-serif lh-copy">I've been working on my 4th album over the past few months and now it's ready for the studio. I'm really excited about this one. For those of you who don't know, and I'm sure most of you do, making an album can be a big challenge financially. So for this album I'm asking for your help. When you have a minute, stop by my Kickstarter page where you can check out a short video about the project (it even gives a very quick tour through the studio). There are also a bunch of incentives to go along with each donation. *Thank you, in advance, for supporting this album! Here's the link: Zach Hurd - 4th Studio Album</p>
      </article>
    </div>
  </div>
</section>
