<section>
  <div class="mtx">
    <div class="pbx clearfix cf">
      <h1 class="wi-100 fl sans-serif f4 fw4 ttu mbm">Releases</h1>
      <article class="wi-100 dt pvm bb b--theme-3">
        <div class="wi-25 wi-10-ns dtc">
          <img src="{{site.url}}/img/amll_cover-2.jpg" class="wi-100">
        </div>
        <div class="dtc v-mid plm">
          <h2 class="f5 fw4 mbs">A Million Little Lights</h2>
          <a class="f5 b dib prm gray-link" href="https://itunes.apple.com/us/album/a-million-little-lights/id917398274" title="A Million Little Lights on iTunes">
            iTunes
          </a>
          <a class="f5 b dib prm gray-link" href="http://www.amazon.com/Million-Little-Lights-Zach-Hurd/dp/B00NGCJ0NC" title="A Million Little Lights on Amazon">
            Amazon
          </a>
        </div>
      </article>
      <article class="dt pvm bb b--theme-3">
        <div class="dtc wi-25 wi-10-ns">
          <img src="{{site.url}}/img/sheneversleeps_cover.jpg" class="wi-100">
        </div>
        <div class="dtc v-mid plm">
          <h2 class="f5 fw4 mbs">She never sleeps</h2>
          <a class="f5 b dib prm gray-link" href="https://itunes.apple.com/us/artist/zach-hurd/id292321269?ign-mpt=uo%3D4">
            iTunes
          </a>
          <a class="f5 b dib prm gray-link" href="http://www.amazon.com/s/ref=ntt_srch_drd_B000ZNPMAA?ie=UTF8&field-keywords=Zach%20Hurd&index=digital-music&search-type=ss">
            Amazon
          </a>
        </div>
      </article>
      <article class="wi-100 dt pvm bb b--theme-3">
        <div class="dtc wi-25 wi-10-ns">
          <img src="{{site.url}}/img/changinglandscapes_cover.jpg" class="wi-100 db">
        </div>
        <div class="dtc v-mid plm">
          <h2 class="f5 fw4 mbs">Changing Landscapes</h2>
          <a class="f5 b prm gray-link" href="https://itunes.apple.com/us/album/changing-landscapes/id338618832">
            iTunes
          </a>
          <a class="f5 b prm gray-link" href="http://www.amazon.com/Changing-Landscapes-Zach-Hurd/dp/B002VRCHXI/ref=tmm_msc_title_0?_encoding=UTF8&amp;sr=8-2&amp;qid=undefined">
            Amazon
          </a>
        </div>
      </article>
      <article class="wi-100 dt pvm bb b--theme-3">
        <div class="dtc wi-25 wi-10-ns">
          <img src="{{site.url}}/img/small-places.jpg" class="wi-100 db">
        </div>
        <div class="dtc v-mid plm">
          <h2 class="f5 fw4 mbs">The Small Places EP</h2>
          <a class="f5 b prm gray-link"
            href="https://itunes.apple.com/us/album/the-small-places-ep/id292321263">
            iTunes
          </a>
          <a class="f5 b prm gray-link"
            href="http://www.amazon.com/The-Small-Places-Zach-Hurd/dp/B0026F6QAU">
            Amazon
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
