<header class="phm pvxl phx-ns pvxxl-ns bg-cv" style="background:url(img/header-6.jpg) no-repeat;background-size: cover; ">
  <h1 class="mb0 f1 ttu mega-ns ">Zach Hurd</h1>
  <a href="https://itunes.apple.com/us/album/she-never-sleeps-ep/id548926022" class="btn pvl phx-ns bg-dark-gray white mtl mtm-ns" style="border-width: 0;"><small class="db-ns">Buy</small> <b class="">she never sleeps</b> <small>on iTunes </small>▸ </a>
  <ul class="list pln mtl">
      <li class="dib"><a class="f5 f3-ns black db prxs prs-ns" href="http://twitter.com/zachhurdmusic">@zachhurdmusic</a></li>
      <li class="dib"><a class="f5 f3-ns black db paxs prs-ns" href="http://soundcloud.com/zachhurdmusic">Soundcloud</a></li>
      <li class="dib"><a class="f5 f3-ns black db paxs prs-ns" href="https://itunes.apple.com/us/artist/zach-hurd/id292321269?ign-mpt=uo%3D4">iTunes</a></li>
      <li class="dib"><a class="f5 f3-ns black db paxs prs-ns" href="https://www.facebook.com/zachhurdmusic">Facebook</a></li>
      <li class="dib"><a class="f4 f3-ns black db paxs prs-ns" href="https://play.spotify.com/artist/1f2CFEq5J7ZyeTAVU6ubRX?play=true&utm_source=open.spotify.com&utm_medium=open">spotify</a></li>
      <li class="dib"><a class="f5 f3-ns black db paxs prs-ns" href="http://www.rdio.com/artist/Zach_Hurd/">rdio</a></li>
  </ul>
</header>
