<section class="bg-white pvl">
<div class="mw8" ng-controller="player" style="margin-right: auto; margin-left: auto; ">
  <div class="phm">
  {% raw %}
  <h1 class="sans-serif f4 fw4 ttu">Listen</h1>
    <div class="table border rounded">
      <div class="table-cell p2 nowrap">
        <div class="mobile-table center">
          <div class="mobile-table-cell prs-ns">
            <a href ng-click="player.previous()">
              <div icon="previous"></div>
            </a>
          </div>
          <div class="h2 mobile-table-cell phl">
            <a href ng-show="!player.playing" ng-click="player.play()">
              <div icon="play"></div>
            </a>
            <a href ng-show="player.playing" ng-click="player.pause()">
              <div icon="pause"></div>
            </a>
          </div>
          <div class="mobile-table-cell plm-ns">
            <a href ng-click="player.next()">
              <div icon="next"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="table-cell full-width mobile-center">
        <div class="p2">
          <h2 class="h4 mb0 dn db-ns fw1 f6 ttu">Zach Hurd</h2>
          <h2 ng-class="{ 'mid-gray regular': player.tracks.length < 1 }">{{ player.tracks[player.i].title || 'No track loaded' }}</h2>
          <pre>{{ currentTime || app.player.currentTime | playTime }} | {{ duration | playTime }}</pre>
        </div>
      </div>
    </div>
  {% endraw %}
</div>
</div>
</section>
