    <section class="mw8 mtx pbx" style="margin-right: auto; margin-left: auto; ">
      <div class="phm">
        <h1 class="sans-serif f4 fw4 ttu">About</h1>
        <img src="img/about.jpg">
        <p class="f4 f3-ns tl lh-copy mtl">
          Zach is a Maine native who has been honing his craft in Brooklyn for the past 7 years.
          Hurd’s 2013 EP, “She Never Sleeps”, recently won “Best Pop EP” in the Independent Music Awards.
          He has continued to broaden his audience through captivating performances and by blurring the lines between folk, soul, pop and americana.
        </p>
      </div>
    </section>
